trigger:
  branches:
    include:
      - '*'
pr:
  branches:
    include:
      - '*'

jobs:
  - job:
    displayName: 'Test with multiple Python versions'
    strategy:
      matrix:
        Python35:
          python.version: '3.5'
        Python36:
          python.version: '3.6'
        Python37:
          python.version: '3.7'
        Python38:
          python.version: '3.8'
        Ubuntu1604:
          imageName: 'ubuntu-16.04'
        Ubuntu1804:
          imageName: 'ubuntu-18.04'
        Mac1014:
          imageName: 'macos-10.14'
        Mac1015:
          imageName: 'macos-10.15'
    # Uncomment when VidarDB supports Windows
    #        Windows2019:
    #          imageName: 'windows-2019'
    #        Windows2016:
    #          imageName: 'vs2017-win2016'
    pool:
      vmImage: $(imageName)
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(python.version)'
      - script: |
          sudo apt update
          sudo apt install build-essential libsnappy-dev
          sudo apt install zlib1g-dev libbz2-dev
          sudo apt install libgflags-dev liblz4-dev
        displayName: 'Install dependencies'
      - script: |
          git submodule init
          git submodule update
        displayName: 'Clone submodules'
      - script: |
          python setup.py install
        displayName: 'Install PyVidarDB'
      - script: |
          python examples/simple_example.py
        displayName: 'Run simple example'
