trigger:
  branches:
    include:
      - '*'
pr:
  branches:
    include:
      - '*'

jobs:
  - job: build
    displayName: 'VidarDB Azure Pipelines CI'
    strategy:
      matrix:
        Linux_Python35:
          imageName: 'ubuntu-latest'
          python.version: '3.5'
        Linux_Python36:
          imageName: 'ubuntu-latest'
          python.version: '3.6'
        Linux_Python37:
          imageName: 'ubuntu-latest'
          python.version: '3.7'
        Linux_Python38:
          imageName: 'ubuntu-latest'
          python.version: '3.8'
        MacOS_Python35:
          imageName: 'macos-latest'
          python.version: '3.5'
        MacOS_Python36:
          imageName: 'macos-latest'
          python.version: '3.6'
        MacOS_Python37:
          imageName: 'macos-latest'
          python.version: '3.7'
        MacOS_Python38:
          imageName: 'macos-latest'
          python.version: '3.8'
    # Uncomment when VidarDB supports Windows
    #        Windows_Python35:
    #          imageName: 'windows-latest'
    #          python.version: '3.5'
    #        Windows_Python36:
    #          imageName: 'windows-latest'
    #          python.version: '3.6'
    #        Windows_Python37:
    #          imageName: 'windows-latest'
    #          python.version: '3.7'
    #        Windows_Python38:
    #          imageName: 'windows-latest'
    #          python.version: '3.8'
    pool:
      vmImage: $(imageName)
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(python.version)'
      - script: |
          sudo apt update
          sudo apt install build-essential libsnappy-dev
          echo $(imageName)
        condition: and(succeeded(), startsWith(${{imageName}}, 'ubuntu'))
        displayName: 'Install dependencies (Ubuntu)'
      - script: |
          brew install snappy
        condition: and(succeeded(), startsWith(${{imageName}}, 'macos'))
        displayName: 'Install dependencies (MacOS)'
      - script: |
          git submodule init
          git submodule update
        displayName: 'Clone submodules'
      - script: |
          python setup.py install
        displayName: 'Install PyVidarDB'
      - script: |
          python examples/simple_example.py
        displayName: 'Run simple example'
